from flask import Flask,render_template,request,session,redirect,url_for,flash
from flask.json.tag import PassDict
from flask_sqlalchemy import SQLAlchemy
from flask_login import UserMixin
from werkzeug.security import generate_password_hash,check_password_hash
from flask_login import login_user,logout_user,login_manager,LoginManager
from flask_login import login_required,current_user
from tkinter import *